# ls aliases
# alias ls="ls --color=auto"
 alias ll="ls -lhA"
 alias la="ls -hA"

# start matlab; turn off horizontal scrolling because it whinges otherwise
 alias guimat="synclient HorizTwoFingerScroll=0 && /usr/local/MATLAB/R2014a/bin/matlab & disown"

# mount windows partition on big laptop 
 alias mwin="mount /dev/sda4"

# various places i cd to a lot
 alias dls="cd /home/callum/Downloads"
 alias videos="cd /home/callum/videos"
 alias dropbox="cd /home/callum/Dropbox"
 alias summer="cd /home/callum/Dropbox/Public/work/4th\ year/Summer"
 alias code="cd /home/callum/Dropbox/code"
 alias tdvp="cd /home/callum/Dropbox/TDVP_CPS"
 alias wien="pushd ~/Dropbox/code/wien"

# copy current tmux buffer to system pasteboard
 alias cptm="tmux save-buffer - | pbcopy"

# i think this one's kind of obvious
 alias ipy="ipython qtconsole --pylab=inline --style=solarized & disown"

# this one just doesn't work at all and i've given up trying to figure out why
 # alias fuck="sudo $(fc -ln -1)"

# if i forget to mount the windows partition,
# clementine marks anything i try to play as unavailable.
# this undoes that; do killall clementine first though.
 alias clemref="sqlite3 .config/Clementine/clementine.db 'update songs set unavailable=0;'"
