# ls aliases
alias ls="ls --color=auto"
alias ll="ls -lHA"
alias la="ls -hA"

alias remake="make cleaner && make"

# various places i cd to a lot
alias dropbox="cd /home/callum/Dropbox"
alias gc2d="pushd ~/code/mr/gc2d"
alias 2d="pushd ~/code/mr/2d"

alias q='QHOME=~/q rlwrap -r ~/q/m32/q'

if [ -z ${SHORT_HOST+x} ];
then
	:
elif [ "$SHORT_HOST" = "scandium" ]; then
alias vim=/Applications/MacPorts/MacVim.app/Contents/MacOS/Vim
fi
